<div nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <nz-alert *ngIf="alert" nzType="alert.type" nzMessage="alert.message" nzShowIcon></nz-alert>
    <!--<nz-alert nzType="success" nzMessage="Success Tips" nzShowIcon></nz-alert>
    <nz-alert nzType="info" nzMessage="Informational Notes" nzShowIcon></nz-alert>
    <nz-alert nzType="warning" nzMessage="Warning" nzShowIcon></nz-alert>
    <nz-alert nzType="error" nzMessage="Error" nzShowIcon></nz-alert>-->

    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
              <span>
                Name
                <i nz-icon nz-tooltip nzTooltipTitle="What do you want other to call you" nzTheme="outline"></i>
              </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
          <input nz-input id="name" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>
              <span>
                Phone
                <i nz-icon nz-tooltip nzTooltipTitle="What do you want other to call you" nzTheme="outline"></i>
              </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your phoneNumber!">
          <input nz-input id="phoneNumber" formControlName="phoneNumber" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" type="submit">Edit</button>
          <button nz-button nzType="warnibg" style="margin-left: 5px"  (click)="onShowList()">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzSpan="8"></div>
</div>
<app-loading [isLoading]="isLoading" [opreation]="'Edit'"> </app-loading>
